/*THE NFT DOCTOR LOGO GRADIENT*/
body{
  font-family: brandon-grotesque,sans-serif;
  color: black;
}
/*THE NFT DOCTOR LOGO GRADIENT*/


h2{
  font-family: 'Roboto', sans-serif;
}

p{
  font-family: brandon-grotesque,sans-serif;
  font-size:20px;
}

.gradient{
  background: -webkit-linear-gradient(#21D4FD, #B721FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.code_nav_links, .generative_links{
  font-size: 20px;
}

.code_link_list{
  list-style-type: none;
  font-size: 20px;
  text-align: center;
}

.line{
  height: 2px;
  background-color: black;
}

li{
  font-size: 20px;
}

.images_30vw{
  width: 30vw;
  height: auto;
}
