/*THE NFT DOCTOR LOGO GRADIENT*/
body{
  font-family: brandon-grotesque,sans-serif;
  color: black;
}
/*THE NFT DOCTOR LOGO GRADIENT*/
h2{
  background: -webkit-linear-gradient(#21D4FD, #B721FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Roboto', sans-serif;;
}
p{
  font-family: brandon-grotesque,sans-serif;
  font-size:20px;
}
